<header>
    <div class="header-container">
        <div class="logo"><a href="../">MOONLIGHT</a></div>
        <nav class="main-navigation">
            <a href="../catalog" class="nav-link">Каталог</a>
            <a href="../shops" class="nav-link">Магазины</a>
            <a href="../cards" class="nav-link">Доставка</a> 
            <a href="../pawnshop" class="nav-link">Ломбард</a>
        </nav>
        <a href="../cart" class="cart-link">Корзина</a>
    </div>
</header>